<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Detalii post</title>
  </head>

  <body>
    detalii post<br>
   
    Titlu:<%=detalii['title'] %><br>
    Firma:<%=detalii.companie[0]['companyName'] %><br>
    Locatie:<%=detalii['workPlace'] %><br>
    Descriere:<%=detalii['description'] %><br>
  </body>
</html>