@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient( 138deg, rgba(223, 235, 249, 1) 25%, rgba(233, 229, 244, 1) 44%, rgba(243, 223, 240, 0.6) 75%) fixed;
}

a {
  text-decoration: none;
}